*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: #ffffff;
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  color: #1ab188;
  transition: .5s ease;
}
a:hover {
  color: #179b77;
}

.cam
{
  width: 45%;
  height: 70vh; 
  margin: 30px auto;
  box-shadow: 0 0 45px rgba(19, 10, 0, 0.5);
  background: rgba(19, 35, 47, 0.9);
  display:flex;
  justify-content: center;
  align-items: center;
}